* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Montserrat", serif;
  color: green;
}

body {
  font-family: "JetBrains Mono", serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px;
  min-height: 100vh;
}

h1 {
  text-emphasis: ""; /* To insert emoticans press windows + . (period) then choose any of your preference*/
  text-align: center;
}

form,
section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 750px; /* It determines the maximum width of the web page */
  margin: 0 auto; /* This property centers the form and section in the web page*/
}

form textarea {
  resize: none; /* It helps maintain the  size of the textarea without resizing it hence better organization   */
  width: 100%;
  min-height: 60px;
  padding: 14px;
}

form button {
  padding: 4px;
  cursor: pointer;
  color: white;
  background-color: green;
  border: none; /* Removes the designs around the border*/
  border-radius: 4px; /* Responsible for the round edges of the button*/
  outline: none;
}

.todocontainer,
.todo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todo {
  padding: 14px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.btnContainer {
  display: flex;
  gap: 6px;
}

.iconBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 8px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.iconBtn:hover {
  background: rgb(242, 240, 240);
}
