* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Montserrat", serif;
  color: green;
}

body {
  font-family: "JetBrains Mono", serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px;
  min-height: 100vh;
}

h1 {
  text-emphasis: "";
  text-align: center;
}

form,
section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

form textarea {
  resize: none;
  width: 100%;
  min-height: 60px;
  padding: 14px;
}

form button {
  padding: 4px;
  cursor: pointer;
  color: green;
}

.todocontainer,
.todo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todo {
  padding: 14px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.btnContainer {
  display: flex;
  gap: 6px;
}

.iconBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 8px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.iconBtn:hover {
  background: rgb(242, 240, 240);
}
